language: ruby
rvm:
  - "2.1.0"
# uncomment this line if your project needs to run something other than `rake`:
script:
  - bundle exec rspec spec

before_script:
  - mysql -e "create database see_and_shop_test"
  - bundle exec rake --trace db:migrate

deploy:
  provider: heroku
  api_key: "11bd4baa-fb3f-4aa1-a07a-eb3854be5d56"
  app: seeandshop