<%= simple_form_for(@store) do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-4 col-md-5 col-sm-offset-3 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Editar Tienda</h3>
      </div>
      <div class="panel-body">
        <%= render 'form', :f => f %>
      </div>
      <div class="panel-footer">
        <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
