<% provide(:shopping_area, 'active') %>
<%= form_tag shopping_areas_path, :method => 'get', :id => "shopping_areas_search" do %>
  <div style="margin-left: 5px; margin-bottom: 15px;">
    <div class="input-group">
      <span class="input-group-addon" style="margin-right: -4px;">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <%= text_field_tag :search, params[:search], :class => 'form-control',
        :style => "width: 300px;", :placeholder => 'Buscar...' %>
    </div>
  </div>
  <div id="shopping_areas"> <%= render :partial => 'shopping_areas_table' %></div>
<% end %>


