<%= simple_form_for(@promo) do |f| %>
  <%= f.error_notification %>
  <div class="col-sm-10 col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Nueva Promocion</h3>
      </div>
      <div class="panel-body">
        <%= render 'form', :f => f %>
      </div>
      <div class="panel-footer">
        <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
